

  <div style="padding:15px" >
      <div class="navbar">
     <ul class="nav nav-tabs">
     <li routerLinkActive="active"><a routerLink=''>Home</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    
     <div class="dropdown">
     <button class="dropbtn">Search Flight
    </button>
    <div class="dropdown-content">
     <li ><a routerLink='searchflight'>Search Flight</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
    
    </div>
    </div>
    <div class="dropdown">
    <button class="dropbtn">View Ticket 
    </button>
    <div class="dropdown-content">
     <li routerLinkActive="active"><a routerLink='viewticket'>view my ticket</a></li>&nbsp;&nbsp;&nbsp;&nbsp;
     </div>
    </div>
  
    
   
     </ul>
     </div>
     <br/><br/>
     
     <router-outlet></router-outlet>
     
     </div>
    
    
    